/* Add CSS styling here */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*BEGIN PAGE STYLES =================>>>>>>>>>>>>>>*/

* {
    box-sizing: border-box;

    max-width: 100%;

    background-color: slategray;

}


/*INCLUDE SO THAT WE CAN USE REM & EM*/
html {

    font-size: 62.5%;
}

body {

    /* border: 2px solid pink; */

    margin: 0 auto;

    width: 1000px;

    font-family: 'Open Sans Condensed',
        sans-serif;

    font-family: 'Lobster',
        cursive;

    font-size: 2em;



}


/*NAVIGATION STYLES HERE**************/

header {

    /* border: 2px solid yellow; */

    display: flex;

    justify-content: space-around;

    align-items: center;

    width: 100%;

    margin: 0;

    padding: 0;
}

#navLogo {

    width: 30%;

    padding: 3%;

    margin: 0;
}

#navLogo img {

    max-width: 100%;

    border-radius: 3em;
}

#navDiv {

    /* border: 2px solid green; */

    width: 70%;

    padding: 5%;

    margin: 0;

}

#navDiv a {

    padding: 5%;

    text-decoration: none;

    color: fuchsia;

    font-size: 3rem;


}




/*FOOTER OF THE DOCUMENT*/

footer {

    /* border: 2px solid purple; */

    padding: 0;

    margin: 0;

    width: 100%;

    text-align: center;

}

/*MUST BE SPECIFIC AND APPLY USE FOOTER TO BE SPECIFIC*/
footer #navDiv {

    width: 100%;

    padding: 0;

    margin: 0;


}

footer #navDiv nav {

    justify-content: space-around;
}

/*MUST BE SPECIFIC BC WE ARE OVERWRITING OTHER CALLS*/
footer #navDiv a {

    width: 100%;

    color: mediumblue;

    /* border: 2px solid red; */

    padding: 0;

    margin: 0;

    letter-spacing: 3px;



}



/*CONTACT ME SECTION OF EACH PAGE WITH BUTTON*/

#contactMeDiv {

    text-align: center;

    font-size: 2em;

    color: rebeccapurple;


}

#contactMeDiv button {

    font-size: .5em;

    border: 2px solid palegoldenrod;

    border-radius: 2rem;

    padding: 1%;

    margin: 2%;

    font-weight: bold;

    color: darkblue;

}


/**************************BODY OF THE PAGE ****************/



/*HOME/INDEX PAGE */


#topHalf {


    display: flex;

    /* justify-content: space-between; */

    align-items: center;

    width: 100%;
}

#topHalf #topImg img {

    max-width: 100%;

    width: 35vw;

    height: 30vh;

    margin: 0;

    padding: 0;

}

#topHalf #statement {

    width: 60%;

    text-align: center;

    font-size: 4rem;
}

#topHalf #statement p {

    text-align: right;

    color: khaki;
}

#topHalf #statement h3 {

    color: peachpuff;

    font-size: 7rem;

    font-weight: bold;

    font-style: oblique;
}

#topHalf #statement button {

    border-radius: 2rem;

    padding: 1%;

    margin: 2%;

    font-size: .5em;

    color: palegoldenrod;
}


/*SKILLS SECTION*/

#skillsSection {

    display: flex;

    flex-direction: column;

    text-align: center;

    font-size: 3rem;

    font-weight: lighter;
}

#skillsSection h2 {

    color: midnightblue;

    padding: 3%;

    margin: 0 auto;

    font-size: 4rem;

    text-decoration: underline;

}

#skillsList ul {

    display: flex;


}

#skillsList ul div {

    width: 35%;

}

/*SKILLS SECTION ***********/
#htmlLI {

    font-size: 2em;

    color: darkblue;

}

#htmlLI i {

    color: orangered;

    margin: 4%;

    padding: 0;
}



#cssLI {

    font-size: 2em;

    color: darkblue;
}

#cssLI i {

    color: dodgerblue;

    margin: 4%;

    padding: 0;
}

#jsLI {

    font-size: 2em;

    color: darkblue;

}

#jsLI i {

    color: #F7DF1E;

    margin: 4%;

    padding: 0;


}



/*PROJECT EXAMPLES SECTION*/

#projectsExamples {

    font-size: 5rem;

    text-align: center;

    padding: 5%;

    color: deepskyblue;


}

#projectsExamples #projImgs {

    display: flex;

    justify-content: space-between;

}

#projImgs img {

    width: 33%;

    border: 2px solid black;

    margin: 6%;
}


#projectsExamples button {

    border-radius: 2rem;

    padding: 1%;

    margin: 1%;

    font-size: .50em;

    color: lightskyblue;
}


/*LARGEST ONE MUST GO FIRST AND SCALE DOWN SO ALL STYLES CAN BE CASCADED*/

@media (max-width: 750px) {


    #container header {

        display: flex;

        flex-direction: column;

    }


    header #navDiv nav {

        display: flex;

        flex-direction: column;

        /* color: black; */


    }

    header #navDiv nav a {

        color: lightseagreen;
    }

    footer #navDiv nav {

        display: flex;

        flex-direction: column;

    }

    footer #navDiv nav a {

        color: lawngreen;

    }

    #topHalf {

        display: flex;

        flex-direction: column;

    }

}


@media (max-width: 600px) {


    #container header {

        display: flex;

        flex-direction: column;

    }

    header #navDiv nav {

        display: flex;

        flex-direction: column;

    }

    header #navDiv nav a {

        color: crimson;
    }

    footer #navDiv nav {

        display: flex;

        flex-direction: column;

    }

    footer #navDiv nav a {

        color: lightsalmon;

    }


    #navDiv nav {

        display: flex;

        flex-direction: column;

    }

    #topHalf {

        display: flex;

        flex-direction: column;

    }

}


@media (max-width: 400px) {


    #container header {

        display: flex;

        flex-direction: column;

    }

    header #navDiv nav {

        display: flex;

        flex-direction: column;

    }

    header #navDiv nav a {

        color: crimson;
    }

    footer #navDiv nav {

        display: flex;

        flex-direction: column;

    }

    footer #navDiv nav a {

        color: lightsalmon;

    }


    #navDiv nav {

        display: flex;

        flex-direction: column;

    }

    #topHalf {

        display: flex;

        flex-direction: column;

    }

}